section {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.gallery-container,
.info-container {
  width: 100%;
}

@media (min-width: 620px) {
  section {
    flex-direction: row;
    height: 565px;
  }

  .gallery-container,
  .info-container {
    width: 50%;
  }
}


