#product-info {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
}

.gallery-container,
.info-container {
  width: 100%;
}

.gallery-container{
  height: 300px ;
}

@media (min-width: 620px) {
  #product-info {
    flex-direction: row;
    height: 565px;
  }

  .gallery-container,
  .info-container {
    width: 50%;
  }

  .gallery-container{
    height: 100%;
  }
}



